$CouleurHeaderHeadingText : #8D1212;
$CouleurMainHeadingText : #8D1212;
$CouleurFooterHeadingText : #8D1212;

$CouleurHeaderText : #fff;
$CouleurMainText : #000;
$CouleurFooterText : #fff;

$CouleurHeaderBckg : #086583;
$CouleurMainBckg : white;
$CouleurFooterBckg : #086583;

$Desktop : 1200px;
$Tablette : 768px;
$Mobile : 480px;